**/.DS_Store
/.vscode
**/__pycache__
/.cache
/.idea
/venv

/D1-9 - Misc
/D14 - HighLowGame
/D16 - CoffeeMachineOOP
/D17 - QuizGame
/D18 - TurtleDemo
/D19 - TurtleGames
/D7 - Hangman
/D8 - CaesarCipher
/D25
/D26
/D27
/D28 - PomodoroTimer
/D29 - PasswordManager
/D31 - FlashcardApp
/D33
/D34
/D35
/D37 - HabitTracker
/D38
/D45
/D46 - TimeMachineSpotifyPlaylist
/D48 - AutoCookieClicker

~
**/high_score.txt
